/* Cascading Styles Sheet for Travel Planner Application */

/* ************************* */
/*    Page Layout Styling    */
/* ************************* */

body {
    background-color: #FAFAD2;
    font-family: arial, sans-serif;
    font-size: medium;
    font-weight: bold;
}

#page_layout { 
    width: 950px;
    height: 800px;
    text-align: center;
    /* background-color: yellow; */  /* For diagnostics only */

}

#center_layout {
    display: inline-block;
    /* background-color: orange; */  /* For diagnostics only */
}

#left_layout { 
    float: left;
    margin: 20px 50px 0 50px;
    /* background-color: aqua; */  /* For diagnostics only */
}

#middle_layout { 
    float: left; 
    text-align: left; 
    /* background-color: lime; */  /* For diagnostics only */
}

#right_layout { 
    float: left; 
    text-align: left;
    margin: 0 25px 0 25px;
    /* background-color: green; */  /* For diagnostics only */
}

.form_entries { 
    text-align: left;
    /* background-color: purple; */  /* For diagnostics only */
}

.form_entries_message { 
    /* background-color: fuchsia; */  /* For diagnostics only */
}

#state_zip {
    position: absolute;
    top: 420px;
}

/* ************************* */
/*     Component Styling     */
/* ************************* */

input, select, textarea {
    font-family: arial, sans-serif;
    font-size: small;
}

.small_button {
    font-family: arial, sans-serif;
    font-size: small;
    width: 80px;
}

.button {
    font-family: arial, sans-serif;
    font-size: small;
    width: 150px;
    margin: 0 0 15px 0;
}

a.button {
    background-color: buttonface;
    padding: 2px 52px 2px 52px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    text-decoration: none;
    font-weight: normal;
    color: black;
}

#username_entry, #password_entry {
    display: block;
    width: 200px;
    padding: 2px 2px 2px 4px;
    margin-bottom: 15px;
}

#text_entry { 
    display: block;
    width: 250px; 
    padding: 2px 2px 2px 4px;
    margin-bottom: 15px;
}

#text_entry_multiline { 
    display: block;
    width: 250px;
    height: 48px;
    padding: 2px 2px 2px 4px;
    margin-bottom: 15px;
    resize: none;
}

#text_display_multiline { 
    display: block;
    width: 600px;
    height: 300px;
    padding: 2px 2px 2px 4px;
    margin-bottom: 15px;
    resize: none;
}

#text_display_multiline_future { 
	display: block;
    width: 600px;
    height: 300px;
    padding: 2px 2px 2px 4px;
    margin-bottom: 15px;
    resize: none;
    color: red;
}

#list_selection { 
    width: 256px; 
    height: 23px; 
    padding: 2px 2px 2px 4px;
}

#date {
    font-weight: normal;
    font-size: 90%;
}
